body {
  display: flex;
  flex-direction: column;
}

header {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}

nav { 
  display: flex;
  flex-direction: row;
}

nav > a {
  background-color: black;
  margin: 4px;
  padding: 4px;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif
}

header > h1 {
  background-color: white;
  font-size: 29px;
  width: 330px;
  margin-left: auto;
}

#line-break {
  width: auto;
  height: 4px;
  background-color: black;
}

main {
  display: flex;
  flex-direction: row;
  background-color: black
}

h2 {
  font-size: 16px;
}

h2 > span {
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

h3{
  font-style: italic;
  font-size: 14px;
  font-weight: lighter;   
}

#bio-content {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  margin-right: 12px;
  padding-left: 12px;
  padding-right: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
  #ribbon {
      display: none;
  }

  #bio-content {
      padding-right: 40px;
  }
}