nav { 
  display: flex;
  flex-direction: row;
}

nav > a {
  background-color: black;
  margin: 4px;
  padding: 4px;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif
}
.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bold {
  font-weight: bold;
}
.flex-end {
  align-self: flex-end;
}
header {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 20px;
}

h1 {
  margin-left: 8px;
  font-size: 30px;
  color: gray;
}

main {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin-left: 40px;
}

.section-break {
  background-color: darkorange;
  font: bold 20px Arial, Helvetica, sans-serif;
  color: white;
  padding: 2px 0 0 6px;
}

.line-break {
  height: 1px;
  width: auto;
  background-color: gray;
}

h2 {
  background-color: white;
  color: darkorange;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
}

#header-container {
  color: black;
}
#bottom-right-header > p > a {
  color: black
}

@media screen and (min-width: 700px) {
  header {
      margin-left: 20%;
  }

  nav {
      margin-left: -10%;
  }

  h1 {
      margin-left: 0px;
      font-size: 36px;
  }
  
  nav > a {
      font-size: 14px;
  }
  main {
      width: 690px;
      margin: auto;
  }
}